이 python 파일은 논문에서 요구하는 Rankit을 구하기 위한 파일입니다.

앞 파일에서 설정한 t와 J값을 그대로 사용해야합니다.

Real_month_rank_average.xlsx

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_excel('08for_rankit_J6t7.xlsx',sheet_name = 'Sheet1')
head = pd.read_excel('08company_name1.xlsx',sheet_name = 'Sheet1')
df2 = pd.DataFrame()

In [8]:
J = int(input('관측하고자 하는 개월 수 J를 입력하세요 : '))
df1 = df.rolling(window=J).mean()

관측하고자 하는 개월 수 J를 입력하세요 : 6

In [9]:
t = int(input('시점 t를 입력하세요(t>J): '))-1
if t < J:
    print('다시 입력하세요.')
else: 
    for i in range(0,len(df1.columns)):
        df2.loc[0,"Unnamed: %d" %i] = head.loc[0,"Unnamed: %d" %i]
        df2.loc[1,"Unnamed: 0"] = df.loc[t, "Unnamed: 0"]
        x = df1.loc[t-1, "Unnamed: %d" %i]
        df2.loc[1,"Unnamed: %d" %i] = x

df2.loc[0, "Unnamed: 0"] = 't'

# NaN 데이터 처리를 위한 코드
df3 = df2.fillna(0)
for i in range(0,len(df3.columns)):
    y = df3.loc[1,"Unnamed: %d" %i]
    if y == 0:
        df3=df3.drop("Unnamed: %d" %i, axis = 1)

시점 t를 입력하세요(t>J): 7

In [10]:
df3

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1305,Unnamed: 1306,Unnamed: 1307,Unnamed: 1308,Unnamed: 1309,Unnamed: 1310,Unnamed: 1311,Unnamed: 1312,Unnamed: 1313,Unnamed: 1314
0,t,삼성전자,삼성전자우,SK하이닉스,카카오,현대차,현대차우,현대차2우B,현대차3우B,삼성SDI,...,코아정보,엔플렉스,유니씨앤티,이루넷,아라온테크,모빌링크,대국,에코페트로시스템,옥션,에이엠에스
1,200101,0.0361734,0.0118556,0.216256,0.316627,-0.108234,-0.15062,-0.164896,-0.0927031,-0.123004,...,0.207112,0.35616,0.0567189,0.155784,0.308489,-0.00376617,0.207748,0.0889785,0.118185,0.0777791

In [12]:
df3.to_excel('08Real_rankit_J%dt%d.xlsx' %(J,t+1))